MAIL_HOST=smtp.gmail.com
MAIL_PORT=587
MAIL_USERNAME=".hbs@gmail.com"
MAIL_PASSWORD=""
OWNER_EMAIL="@gmail.com"

NEXTAUTH_SECRET="+gLOzUHKZYPsr2z5uvTIQbH4="
MONGODB_URI="mongodb+srv://hbsdevelopersteam:@cluster.i4imgr8.mongodb.net/transpeed?retryWrites=true&w=majority&appName=Cluster"

NEXT_PUBLIC_SITE_URL=http://localhost:3000/

CLOUDINARY_CLOUD_NAME=
CLOUDINARY_API_KEY=
CLOUDINARY_API_SECRET=

